<!-- 네이게이션 메뉴 -->

<nav class="navbar navbar-expand-sm navbar-light bg-light mb-3">
    <div class="container">
      <div class="navbar-brand">000</div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
          <li class="nav-item"><a href="/about" class="nav-link">About</a></li>
          <li class="nav-item"><a href="/pasing" class="nav-link">List</a></li>
        </ul>
        <ul class="navbar-nav ml-auto"> <!-- 1 -->
          <li class="nav-item"><a href="/join" class="nav-link">회원가입</a></li>
          <li class="nav-item"><a href="/join/new" class="nav-link">로그인</a></li>
        </ul>
      </div>
    </div>
  </nav>