.tg  {border-collapse:collapse;border-spacing:0;}
        .tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
          overflow:hidden;padding:10px 5px;word-break:normal;}
        .tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
          font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
        .tg .tg-8u09{background-color:#656565;border-color:inherit;color:#ffffff;font-family:Arial, Helvetica, sans-serif !important;;
          text-align:left;vertical-align:top}
        .tg .tg-mwl0{border-color:inherit;font-family:Arial, Charcoal, sans-serif !important;;text-align:left;vertical-align:top}
        .tg .tg-7v7y{background-color:#656565;border-color:inherit;color:#ffffff;text-align:left;vertical-align:middle}
        .tg .tg-l5wk{background-color:#656565;border-color:inherit;color:#ffffff;font-family:Impact, Charcoal, sans-serif !important;;
          text-align:left;vertical-align:top}
        @media screen and (max-width: 767px) {.tg {width: auto !important;}.tg col {width: auto !important;}.tg-wrap {overflow-x: auto;-webkit-overflow-scrolling: touch;}}