<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>simple chat</title>
        <script src="/socket.io/socket.io.js"></script>
        <script>
            let socket;
            window.onload = () => {
            	// socket 연결
                socket = io.connect('/');

			// message 수신 이벤트
                socket.on('message', data => {
                    makeChatDiv(data.name, data.content, data.date);
                });
            }

			// 버튼 클릭 시 메시지 송신
            const sendMessage = () => {
                let name = document.getElementById('name').value;
                let content = document.getElementById('content').value;
                
                document.getElementById('name').value = '';
                document.getElementById('content').value = '';

                socket.emit('message', {
                    name,
                    content,
                    date: new Date()
                });
            }

			// message 수신 시 채팅 컴포넌트 생성
            const makeChatDiv = (name, content, date) => {
                let div = document.createElement('div');
                let nameH3 = document.createElement('h3');
                let contentP = document.createElement('p');
                let dateP = document.createElement('p');

                nameH3.innerHTML = name;
                contentP.innerHTML = content;
                dateP.innerHTML = date;

                div.appendChild(nameH3);
                div.appendChild(contentP);
                div.appendChild(dateP);

                div.className = "chat"

                document.getElementById('chatbox').prepend(div);
            }
        </script>
        <style>
            .chat {
                border: 1px solid black;
                width: 400px;
            }
        </style>
    </head>
    <body>
        <h1>Simple Chat</h1>
        <input id="name" type="text" placeholder="name" />
        <input id="content" type="text" placeholder="content" />
        <button onclick="sendMessage()">보내기</button>
        <hr />
        <div id="chatbox">

        </div>
    </body>
</html>